.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #ccc;
}

.sidebar .nav-link {
  font-size: 16px;
  color: #333;
}

.sidebar .nav-link.active {
  color: #000;
  background-color: #eee;
}
